# LLM 服务
CUSTOM_OPENAI_API_KEY=YOUR_CUSTOM_OPENAI_API_KEY
CUSTOM_OPENAI_BASE_URL=https://api.modelarts-maas.com/v2
CUSTOM_OPENAI_MODEL_NAME=deepseek-v3.2-exp

# Embedding 服务 (可以不同的 baseurl)
EMBEDDING_API_KEY=YOUR_EMBEDDING_API_KEY
EMBEDDING_BASE_URL=https://api.modelarts-maas.com/v1
EMBEDDING_MODEL_NAME=bge-m3

DEEPWIKI_EMBEDDER_TYPE=custom_openai
NEXT_PUBLIC_GITCODE_ACCESSTOKEN=YOUR_GITCODE_ACCESSTOKEN
