CUSTOM_OPENAI_API_KEY=YOUR_CUSTOM_OPENAI_API_KEY
CUSTOM_OPENAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4
CUSTOM_OPENAI_MODEL_NAME=glm-4.5-flash
CUSTOM_OPENAI_EMBEDDING_MODEL=embedding-3
DEEPWIKI_EMBEDDER_TYPE=custom_openai
NEXT_PUBLIC_GITCODE_ACCESSTOKEN=YOUR_GITCODE_ACCESSTOKEN